[Desktop Entry]
Encoding=UTF-8
Name=Linux Commander
Name[pl]=Linux Commander
Exec=linuxcmd
#Icon=linuxcmd.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Utility;
# vi: encoding=utf-8
